.app-side-link {

}

a:link, a:visited {
  background-color: lightblue;
  color: black;
  padding: 15px 25px;
  margin: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

a:hover, a:active {
  background-color: lightblue;
}
